.card {
    width: 260px;
    height: 260px;
    margin-bottom: 30px;
    border: 1px solid silver;
    border-radius: 5px;
}

.card__image {
    display: block;
    width: 260px;
    height: 260px;
    object-fit: fill;
}

.card__wrap {
    width: 260px;
    height: 260px;
    display: flex;
    flex-direction: column;
}

.card__image_unite {
    width: 125px;
    height: 125px;
}