.header {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.header__form {
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.header__input {
    padding: 10px;
    border-radius: 7px;
    border: 1px solid silver;
}

.header__button {
    padding: 10px;
    border-radius: 7px;
    border: none;
    border-radius: 7px;
    color: #ffffff;
}

.header__button_submit {
    background-color: green;
}

.header__button_reset {
    background-color: red;
}

.header__button_unite {
    background-color: blue;
}